*{
    scroll-behavior: smooth;
    text-decoration: none;
    color: #fff;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: none;
}

header {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    /* float: left; */
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    position: sticky;
    z-index: 999;
}

header div:first-of-type {
    width: 80%;
    /* aspect-ratio: 3/2; */
    object-fit: contain;
    mix-blend-mode: color-burn;
}

.logo {
    float: right;
    max-height: 26px;
}
h1 {
    text-align: center;
    margin: 0.5em auto;
    color: brown;
    font-size: 22hpx;
}

.titles {
    color: brown;
    font-weight: 500;
}

.horizontal-line {
    position: relative;
    height: 2px; /* Set the height of the line */
    background-color: brown; /* Set the initial color as brown */
    margin: 20px auto; /* Adjust the margin as needed */
}

.horizontal-line::before,
.horizontal-line::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    background: linear-gradient(to right, transparent 0%, brown 0%, white 0%, transparent 100%); /* Gradient fading to white */
}

.horizontal-line::before {
    left: 0;
}

.horizontal-line::after {
    right: 0;
    background: linear-gradient(to left, transparent 0%, brown 0%, white 0%, transparent 100%);
}

form {
    width: 80vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding: 2em;
    backdrop-filter: blur(6px);
    border-radius: 5px;
}

.main {
    background-image: url(/src/background-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: overlay;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid brown;
    color: black;
}

fieldset:last-of-type {
    border-bottom: none;
}

label {
    display: block;
    margin: 0.5rem 0;
    color: #000;
}

/*Buttons */
.container form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.container label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
}

.container  label input {
    position: absolute;
    left: -9999px;
}

.container label input:checked + span {
    background-color: #ff6600;
    color: white;
}

.container label input:checked + span:before {
    box-shadow: inset 0 0 0 0.4375em #b32d00;
}

.container label span {
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em;
    transition: 0.25s ease;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
}

.container label span:hover {
    background-color: #d6d6e5;
}

.container label span:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #ffad99;
}


/* Button End here */


/* Contact FORM */

#contact__info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(6px);
}

#contact__info>label>input {
    width: 450px;
}

#contact__info>label {
    width: 470px;
}


/* End of Contact form */

textarea {
    width: 100%;
    height: 100px;
}

input, select {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: none;
    padding: 1%;
}

input, textarea, select{
    box-sizing: border-box;
    padding: 1%;
    outline: none;
    border: none;
    background-color: #b9a4a4;
}

.inline {
    width: unset;
    margin-right: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    vertical-align: middle;
}


input[type="submit"] {
    padding: 20px;
    background: brown;
    color: #000;
    font-size: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    animation: popButton 1s ease infinite alternate; /* Add animation to pop the button */
}

@keyframes popButton {
    0% { transform: scale(1); } /* Initial scale of 1 (normal size) */
    100% { transform: scale(1.1); } /* Scale of 1.1 (popped size) */
}

input[type="file"] {
    padding: 1px 2px;
}

footer {
    background-color: #e0e0eb;
    color: #000;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background-color: #e0e0eb;
}

.footer-content {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    gap: 12px;
}

.footer-left {
    transform: scale(0.7);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footer-center>p{
    transform: scale(0.95);
    /* white-space: wrap; */
}




/* Media Queries */
@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden !important;
    }

    header{
        height: max-content;
        box-sizing: border-box;
        padding: 1% 2%;
        justify-content: space-between;
    }

    header div:first-of-type h1{
        font-size: 20px;
        width: 70%;
    }

    label{
        padding: 10px 0;
    }

    input, textarea {
        outline: 0;
        resize: none;
        margin: 10px 0;
        border: none; /* Remove the border */
        background-color: #f2f2f2; /* Set a light grey background color */
    }

    footer {
        padding: 5rem 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #contact__info>label>input {
        width: 300px;
    }

    #contact__info>label {
        width: 320px;
    }
}

.footer {
    text-align: center; /* Center align the content */
}

.footer-content {
    display: flex;
    flex-direction: column;
}

.footer-left img {
    max-width: 100%;
}

.footer-center {
    margin-top: 10px;
}


@media screen and (max-width: 320px) {
    .footer-content {
        flex-direction: column; /* Change the layout to a column for small screens */
        align-items: center; /* Center align items horizontally */
    }

    .footer-center {
        margin-top: 10px; /* Add space between the logo and the rest of the content */
    }

    form {
        width: 90vw; /* Adjust the width for smaller screens */
        padding: 1em; /* Adjust the padding for smaller screens */
    }
}
