*{
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    font-family: Tahoma;
    font-size: 16px;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: none;
}

header {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    /* float: left; */
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    position: sticky;
    z-index: 999;
}

header div:first-of-type {
    width: 80%;
}

.logo {
    float: right;
    max-height: 40px;
}
h1 {
    text-align: center;
    margin: 1em auto;
    color: brown;
    font-size: 22hpx;
}

.titles {
    color: brown;
}

/* .main {
    background-color: aliceblue;
} */

form {
    width: 80vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;

    /* background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px; */
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid brown;
}

fieldset:last-of-type {
    border-bottom: none;
}

label {
    display: block;
    margin: 0.5rem 0;
}

/*Buttons */

.button-container {
    /* display: inline-flex; /* Align buttons horizontally */
    justify-content: center; /* Center buttons horizontally in the container */
    margin-top: 50px;
    /* overflow-x: auto; */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px; /* Add some gap between the buttons */
    justify-content: center; /* Center the buttons horizontally */
    margin-top: 50px;
    overflow-x: hidden; /* Prevent horizontal scrolling for the button container */
}

.button-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    max-width: 150px;
    flex-basis: 20%;
    margin: 5px;
  }

  .button-text {
    margin-top: 5px;
    font-size: 14px;
    overflow-wrap: break-word;
  }

.button {
    padding: 10px 20px;
    margin: 5px 5px;
    font-size: 16px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.button[data-selected="true"] {
    background-color: gray;
    transform: scale(1.1); /* Increase size when selected */
}

.button[data-selected="false"] {
    background-color: grey;
    transition: scale(1.1);
}

/* Hover effect: Increase size when hovered */
.button:hover {
    transform: scale(1.1);
}

#button1 {
    background-color: red;
}

#button2 {
    background-color: orangered;
}

#button3 {
    background-color: orange;
}

#button4 {
    background-color: rgb(242, 204, 132);
}

#button5 {
    background-color: yellow;
    color: black;
}

#button6 {
    background-color: yellowgreen;
}

#button7 {
    background-color: darkolivegreen;
}

#button8 {
    background-color: #00FF00;
}

#button9 {
    background-color: green;
}

#button10 {
    background-color: darkgreen;
}
/* .input-field {
    width: 100%;
    height: 70px;
    margin-top: 20px;
    padding-right: 10px;
    border-radius: 14px;
    outline: none;
} */

textarea {
    width: 100%;
    height: 100px;
}

input, select {
    width: 100%;
    height: 30px;
}

input, textarea, select{
    box-sizing: border-box;
    padding: 1%;
    outline: none;
}

.inline {
    width: unset;
    margin-right: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    vertical-align: middle;
}

/* input, textarea {
    background-color: #0a0a23;
    color: #ffffff;
    border-color: #0a0a23;
    border-radius: 1px;
} */

input[type="submit"] {
    /* display: block;
    width: 60%;
    min-width: 300px;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: brown;
    border-color: #f5f6f7; */

    padding: 20px;
    background: brown;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

input[type="file"] {
    padding: 1px 2px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden !important;
    }

    header{
        height: max-content;
        box-sizing: border-box;
        padding: 1% 2%;
        justify-content: space-between;
    }

    header div:first-of-type h1{
        font-size: 20px;
        width: 70%;
    }

    label{
        padding: 10px 0;
    }

    input, textarea {
        outline: 0;
        resize: none;
        margin: 10px 0;
    }
}